.game {
    position: relative;
}

.game .map {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.game .ui {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.game .ui .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game .ui .top *, .game .ui .bottom * {
    pointer-events: all;
}

.game .ui .top .info {
    display: flex;
    align-items: center;
}

.game .ui .top .info > button {
    margin-left: var(--spacing);
}

.game .ui .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game .ui .bottom .guess {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.game .ui .bottom .guess .mini-map {
    width: 384px;
    aspect-ratio: 14/9;
    background: var(--dark);
    backdrop-filter: blur(2px);
    margin-bottom: var(--spacing-2);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-properties) var(--dark-shadow-color-2);
    cursor: pointer;

    transition: width .2s ease;
    padding: var(--spacing);
}

.game .ui .bottom .guess .mini-map .mini-map-target {
    pointer-events: all;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--border-radius) - var(--spacing));
}

.game .ui .bottom .guess .mini-map:hover {
    width: 768px;
}