.home {
    position: relative;

    width: 100vw;
    height: 100vh;
}

.home .ui {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /*TODO: Final design flex-end would be better*/
    align-items: center;
}

.home .ui .play {
    margin-bottom: var(--ui-padding);
}